ANTHROPIC_API_KEY=
ANTHROPIC_BASE_URL=https://ai-hub-api-v2-dev-970320824155.us-east4.run.app/anthropic-gateway
ANTHROPIC_CUSTOM_HEADERS=x-client-id: <your-client-id>

CLAUDE_MODEL=claude-haiku-4-5

MCP_WEATHER_URL=http://localhost:8000/mcp
MODEL_PORT=8080
